/** fonts **/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata');
/** 

CSS resets
- https://piccalil.li/blog/a-modern-css-reset/
**/

* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    font-family: 'Inconsolata', monospace;
    background-color: #efefd0;
}

a:not([class]) {
    text-decoration: none;
    color: inherit;
}

ul,
ol {
  list-style: none;
}

@media (prefers-reduced-motion: reduce) {
    html:focus-within {
     scroll-behavior: auto;
    }
}

html:focus-within {
    scroll-behavior: smooth;
}

/**
accessibility classes 
- https://www.scottohara.me/blog/2017/04/14/inclusively-hidden.html
*/

.sr-only {
    left: -100vw;
    position: absolute;
}

/** header **/

header {
    color: #004e89;
}

nav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-pages {
    display: flex;

    font-size: 1.5rem;
}

.nav-page {
    margin-inline-end: 3rem;
}

#logo {
    margin-inline-start: 20%;
    font-family: 'Permanent Marker', Helvetica, sans-serif;
    font-size: 3rem;
    color: #004e89;
}

#current {
    color: #ff6b35;
}

/** header - mobile **/

@media (max-width: 35em) {
    #nav-pages {
        flex-direction: column;
        position: fixed;
        inset: 0 0 0 max(104px, 40%);
        padding: min(30vh, 8rem) 2rem;
        z-index: 1;

        transform: translateX(100%);

        background-color: rgba(26, 101, 158, 0.5);
        backdrop-filter: blur(0.5rem);
    }

    #nav-pages[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-page {
        margin-block-end: 2rem;
    }

    .hamburger-menu {
        position: absolute;
        top: 1rem;
        right: 1rem;

        background: url("./assets/menu-icon.svg");
        background-repeat: no-repeat;
        border: 0;
        width: 3rem;
        aspect-ratio: 1;
        z-index: 2;
    }

    .hamburger-menu[aria-expanded="true"] {
        background: url("./assets/x-icon.svg");
        background-repeat: no-repeat;
    }
}

/** header - tablet, desktop **/
@media (min-width: 35rem){
    .hamburger-menu {
        display: none;
    }

    .nav-page:hover {
        cursor: pointer;
        text-decoration: underline #ff6b35 solid 3px;
    }
}

/** form **/

form {
    display: flex;
    flex-direction: column;
    place-content: center;
    /* grid-template: 20% 20% repeat(4, 1fr) / repeat(4, 1fr); */

    margin: 1rem;
    padding: 1rem;
    border: 0.25rem solid #ff6b35;
    border-radius: 0.25em;
}

form input {
    width: 18%;
    padding: 1% 2%;
    outline: none;
    border: 2px solid #1a659e;
    border-radius: 0.25rem;
}

form input:focus {
    border: 2px solid #ff6b35;
    background-color: #f7c59f;
}

form select {
    width: 18%;
    padding: 1% 2%;
    border: 2px solid #1a659e;
    border-radius: 0.25rem;
}

form h2 {
    font-size: 1.5rem;
    padding-bottom: 0.5rem;
    color: #004e89;
}

form h3,
p {
    font-size: 1rem;
    color: #1a659e;
}

form div {
    padding-bottom: 1rem;
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: calc(100vh - 70px);
}

.form-info {
    padding-bottom: 2rem;
}

.form-submit {
    align-self: flex-end;

    padding-bottom: 0;
}

#form-submit {
    width: auto;
    padding: 8px 13px;
    border: 3px solid #ff6b35;
    border-radius: 0.25rem;
    background-color: #f7c59f;
    color: #004e89;
    font-size: 1rem;
    font-weight: bold;
}

#form-submit:hover {
    cursor: pointer;
}

/** color palette from https://coolors.co/palette/ff6b35-f7c59f-efefd0-004e89-1a659e **/